# Ignorar todos os arquivos exceto os presentes no diretório (menos pasta tasks)

# Ignorar todos os arquivos por padrão
*

# Permitir apenas os arquivos presentes no diretório
!project_files/
!project_files/**
!.gitignore
!build.sh
!entrypoint.sh
!init.sh
!makefile
!README.md
